/*-----------------------------------------------------------------------------------
  Global Reset v0.3 (based on http://meyerweb.com/eric/tools/css/reset/ - v1.0 | 20080212)
-----------------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }

/* HTML5 */

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }


/* Element */

html, body { height: 100%; width: 100%; }
body { background-color: #e7e7e7; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px; padding: 20px; }
h1 { color: red; font-size: 96px; }

/* Card */
#labyrinth {
	border: solid 1px lightgray;
	position: absolute;
	padding: 10px;
	top: 200px;
	left: 275px;
}

#labyrinth .card{
	margin-right: -85px;
}

.card { 
	background-color: #fff;
	-moz-border-radius: 7.5px; 
	-webkit-border-radius: 7.5px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left; 
	height: 175px; 
	margin: 0 15px 0 0; 
	position: relative; 
	width: 112.5px; 
	z-index: 2; 
}

/* Might need later when flipping...
.card .back { background-color: red; -webkit-transform: rotateY(180deg); }
.card.flipped { -webkit-transform: rotateY(180deg); } 
*/
.observatory { background-color: pink; }
.aquarium {	background-color: aqua; }
.garden { background-color: green; }
.library {background-color: brown; }

.left_top { left: 6px; top: 7px; position: absolute;}
.right_top { right: 6px; top: 7px; position: absolute;}
.middle_center { left: 15%; top: 27%; position: absolute;}

