/*-----------------------------------------------------------------------------------
  Global Reset v0.3 (based on http://meyerweb.com/eric/tools/css/reset/ - v1.0 | 20080212)
-----------------------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
body { line-height: 1; }
ol, ul { list-style: none; }
:focus { outline: 0; }
table { border-collapse: collapse; border-spacing: 0; }

/* HTML5 */

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }


/* Element */

html, body { height: 100%; width: 100%; }
body { background-color: #e7e7e7; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 10px; padding: 20px; }
h1 { color: red; font-size: 96px; }

/* Cards */
#doors {
	border: solid 1px lightgray;
	position: absolute;
	padding: 10px;
	top: 10px;
	left: 150px;
}

#doors .card {
	margin-right: 15px;
}

#labyrinth {
	border: solid 1px lightgray;
	position: absolute;
	padding: 10px 95px 10px 10px;
	top: 205px;
	left: 150px;
}

#labyrinth .card{
	margin-right: -85px;
}

#hand {
	border: solid 1px lightgray;
	position: absolute;
	padding: 10px;
	top: 400px;
	left: 150px;
}

#hand .card {
	margin-right: 15px;
}

#limbo {
	border: solid 1px lightgray;
	position: absolute;
	padding: 10px;
	top: 205px;
	left: 10px;
	opacity: 0.5
}

#limbo .card {
	position: absolute;
}

.card { 
	background-color: #fff;
	-moz-border-radius: 7.5px; 
	-webkit-border-radius: 7.5px; 
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); 
	float: left; 
	height: 175px;
	position: relative; 
	width: 112.5px; 
	z-index: 2; 
}

.observatory { background-color: tomato; }
.aquarium {	background-color: aqua; }
.garden { background-color: lightgreen; }
.library { background-color: #9b7342; }
.nightmare { background-color: gray; }

.back_tl {
	background-color: #441600;
	height: 87.5px;
	width: 56.25px;
	-moz-border-top-left-radius: 7.5px;
	-webkit-border-top-left-radius: 7.5px;
	float:left;
}
.back_tr {
	background-color: rgb(205,55,0);
	height: 87.5px;
	width: 56.25px;
	-moz-border-top-right-radius: 7.5px;
	-webkit-border-top-right-radius: 7.5px;
	float:left;
}
.back_bl {
	background-color: darkblue;
	height: 87.5px;
	width: 56.25px;
	-moz-border-bottom-left-radius: 7.5px;
	-webkit-border-bottom-left-radius: 7.5px;
	float:left;
}
.back_br {
	background-color: darkgreen;
	height: 87.5px;
	width: 56.25px;
	-moz-border-bottom-right-radius: 7.5px;
	-webkit-border-bottom-right-radius: 7.5px;
	float:left;
}
.back_middle {
	background-color: white;
	-moz-border-radius: 90px; 
	-webkit-border-radius: 90px;
	border: solid black 0px;
	position: absolute;
	top: 36%;
	left: 28%;
	padding: 5px;

}
.back_middle_img {
	position: relative;
	bottom: 8px;
}

.back_middle_img img { height: 40px; } 

.left_top { left: 6px; top: 7px; position: absolute;}
.right_top { right: 6px; top: 7px; position: absolute;}
.middle_center { left: 15%; top: 29%; position: absolute;}
.middle_top { left: 34%; top: 12%; position: absolute;}

.left_top img { height: 20px; }
.right_top img { height: 20px; }
.middle_center img { height: 80px; }
.middle_top img { height: 30px; }

.nightmare_one { left: 6px; top: 50px; position: absolute; }
.nightmare_two { left: 40px; top: 40px; position: absolute; }
.nightmare_three { left: 20px; top: 20px; position: absolute; }

.nightmare_one img { height: 90px; }
.nightmare_two img { height: 60px; opacity: 0.8; }
.nightmare_three img { height: 43px; opacity: 0.6; }